body {
  margin: 0;
  background: #0f1115;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.layout {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #151820;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  color: #00c853;
}

.sidebar a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 15px 0;
}

.sidebar a:hover {
  color: #fff;
}

.content {
  padding: 30px;
  width: 100%;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #1b1f2a;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
}

.card span {
  color: #aaa;
}

.table-container {
  background: #1b1f2a;
  padding: 20px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #2a2f3a;
}

.up {
  color: #00c853;
}

.down {
  color: #ff5252;
}
.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  background: #151820;
  border: 1px solid #2a2f3a;
  color: #fff;
  border-radius: 6px;
}

.search-box button {
  padding: 12px 20px;
  background: #00c853;
  border: none;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
}

.stock-header h1 {
  color: #00c853;
  margin: 5px 0;
}

.stats {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.stats div {
  background: #1b1f2a;
  padding: 15px;
  border-radius: 6px;
  min-width: 120px;
  text-align: center;
}

.chart-container {
  background: #1b1f2a;
  padding: 10px;
  border-radius: 8px;
}
